<div *ngIf="this.login; else loginWindow">
  <app-carData></app-carData>
</div>

<ng-template #loginWindow>
  <div style="text-align: center; display: block;">
    <div>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput type="text" [(ngModel)]="userName">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="text" [(ngModel)]="password">
      </mat-form-field>
    </div>
    <div>
      <button type="button" mat-button (click)="checkLogin()">Login</button>
    </div>
  </div>
</ng-template>
